<div class="app-container">
  <div class="app">
    <h1>Enter youtube video url</h1>
    <input
      type="text"
      [(ngModel)]="videoUrl"
      placeholder="Enter youtube video url"
    />
    <button
      type="submit"
      [disabled]="isLoading()"
      (click)="getVideoDetails(videoUrl())"
    >
      Get description
    </button>
    @if(isLoading()){
    <p class="loading">Generating description from youtube video...</p>
    } @else if(generatedDescription()){
    <p>Generated Description: {{ generatedDescription() }}</p>
    } @if(error()){
    <p class="error">{{ error() }}</p>
    }
  </div>
</div>
